In [1]:
[[[1,2],[4,5]],[[1,2],[4,5]]]

[[[1, 2], [4, 5]], [[1, 2], [4, 5]]]

In [2]:
[[[1,2],[4,5]] for i in range(3)]

[[[1, 2], [4, 5]], [[1, 2], [4, 5]], [[1, 2], [4, 5]]]

# List Comprehension

In [4]:
# - It is a method to create a list using loop with one line of code.
# - When we use for loop within [] then it is list comprehension.

In [5]:
# [for loop]

In [6]:
# [value_to_be_appended for positioner in Iterable]

In [8]:
[5 for i in range(4)]

[5, 5, 5, 5]

In [9]:
[[1,2] for i in range(3)]

[[1, 2], [1, 2], [1, 2]]

In [11]:
[i for i in 'Python']

['P', 'y', 't', 'h', 'o', 'n']

In [12]:
[[[1,2],[3,4]] for i in range(3)]

[[[1, 2], [3, 4]], [[1, 2], [3, 4]], [[1, 2], [3, 4]]]

# Dictionary Comprehension

In [13]:
# - It is a method to create a dictionary using loop.
# - Using dictionary comprehension we can create a dictionary using loop with one line of code.

In [14]:
# {for loop}

In [ ]:
{key:value for positioner in Iterable}

In [15]:
# Create a dictionary where keys are the numbers from 1 to 5 and their squares are the values
# Output- {1:1,2:4,3:9,4:16,5:25}

# Using loop

In [19]:
d={}

for i in range(1,6):
    d.update({i:i**2})
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [20]:
{i:i**2 for i in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [24]:
lst=[('Name','Hiya'),('Age',25),('City','Pune'),('Salary',55000)]
lst

[('Name', 'Hiya'), ('Age', 25), ('City', 'Pune'), ('Salary', 55000)]

In [30]:
d={}

for i,j in lst:
    d.update({i:j})
    
print(d)

{'Name': 'Hiya', 'Age': 25, 'City': 'Pune', 'Salary': 55000}

In [31]:
{i:j for i,j in lst}

{'Name': 'Hiya', 'Age': 25, 'City': 'Pune', 'Salary': 55000}

# Conditions in dictionary comprehension

In [32]:
# {key:value for loop if condition (optional)}

In [41]:
{i:i**2 for i in [1,2,3,4,5,6,7,8,9,10] if i%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [38]:
i=1
i%2==0

False

In [47]:
# Create a dictionary where the numbers from 1 to 10 are the keys and
# the values are the squares of the even keys and the cubes of the odd keys

# Output- {1:1,2:4,3:27,4:16,5:125,6:36,7:343,8:64,9:729,10:100}

d={}

for i in range(1,11):
    if i%2==0:
        d.update({i:i**2})
    else:
        d.update({i:i**3})
print(d)

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [50]:
# - To use if...else both inside the dictionary comprehension we have to use ternary operator

# exp_1 if condition else exp_2

# {ternary operator for loop}

In [49]:
{i:i**2 for i in [1,2,3,4,5,6,7,8,9,10] if i%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [54]:
{i:i**2 if i%2==0 else i**3 for i in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [53]:
i=3
i**2 if i%2==0 else i**3

27

In [59]:
# The number 1 to 10 should be the values and 
# The keys should be the squares of the even values and the cubes of the odd values

d={}

for i in range(1,11):
    if i%2==0:
        d.update({i**2:i})
    else:
        d.update({i**3:i})
print(d)

{1: 1, 4: 2, 27: 3, 16: 4, 125: 5, 36: 6, 343: 7, 64: 8, 729: 9, 100: 10}

In [60]:
{i**2 if i%2==0 else i**3 :i for i in range(1,11)}

{1: 1, 4: 2, 27: 3, 16: 4, 125: 5, 36: 6, 343: 7, 64: 8, 729: 9, 100: 10}

In [64]:
{i**2 if i%2==0 else i**3:i**2 if i%2==0 else i**3 for i in range(1,11)}

{1: 1,
 4: 4,
 27: 27,
 16: 16,
 125: 125,
 36: 36,
 343: 343,
 64: 64,
 729: 729,
 100: 100}

# Ternary Operator

In [61]:
# It has minimum two expressions and one condition

# exp_1 if condition else exp_2

# When if condition is True then exp_1 is the result
# When if condition is False then exp_2 is the result

In [63]:
a='Moon'
print('Day') if a=='Sun' else print('Night')

Night

# while loop

In [69]:
# - for loop can work with iterables only
# - while loop can with non-iterables also

# - for loop always has specific number of iterations.
# - while loop can be used when we don't know the number of iterations.
# - while loop can be used to iterate infinite times as well.

In [66]:
a=5
print(a,type(a))

5 <class 'int'>

In [68]:
for i in range(a):
    print(i)

0
1
2
3
4

# Syntax

In [71]:
# - Intialisation of a counter
# - Condition
# - Increment/Decrement

# - Until the condition gets False it keeps on executing the code

In [72]:
# print Hello 5 times using while loop

for i in range(5):
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [1]:
i=1 # counter intialisation

while i<=5: # condition
    print('Hello')
    i+=1 # increment

Hello
Hello
Hello
Hello
Hello

# while True

In [3]:
# - This condition is always True
# - It excecutes the code infinite times
# - We use break statement to terminate a while True loop
# - Generally we use while True when we don't know the number of iterations

In [4]:
password='ABC@12345'

pas=input('Enter your password- ')
c=1

while True:
    if pas==password:
        print('Password Matched')
        print('You are welcome!')
        break
    elif c>=3:
        print('Attempts exhausted')
        print('Try after sometime')
        break
    else:
        print('Incorrect Passord')
        pas=input('Enter your password again- ')
        c+=1

Enter your password- 789
Incorrect Passord
Enter your password again- 123
Incorrect Passord
Enter your password again- abc
Attempts exhausted
Try after sometime

# Functions

In [5]:
# - A function is a block of code that we can executed as and when we want in a program

In [7]:
# Function definition- It is the block where we write the logic (code)
# Function call- It is a trigger that intiates the excecution of the function definition

# User defined function

# Function definition

In [ ]:
def function_name():
    code
    code

In [9]:
def greet():
    print('Good morning all!')
    print('I welcome you all in the class!')
    
greet()

Good morning all!
I welcome you all in the class!

# A function may be parameterised or non-parameterised

In [ ]:
def function_name(a,b,c...n): #Parameterised functions, a,b,c...n are known as parameters
    code
    code

In [12]:
def add():
    a=int(input('Enter a number- '))
    b=int(input('Enter a number- '))
    c=a+b
    print(c)

In [14]:
add()

Enter a number- 7
Enter a number- 5
12

In [15]:
add()

Enter a number- 78
Enter a number- 24
102

In [16]:
lst=[10,20]

add()

Enter a number- 10
Enter a number- 20
30

In [17]:
def add(x,y):
    c=x+y
    print(c)

In [18]:
add(5,6)

11

In [19]:
lst=[10,20]

add(lst[0],lst[1])

30

In [20]:
# Create a function intro that gives the introduction of the class

def intro():
    print('We are from Learnbay')
    print('We are learning Python')

In [21]:
intro()

We are from Learnbay
We are learning Python

In [23]:
# Create a function intro that takes a name as input and print I am {name}

In [24]:
def intro(name):
    print(f'I am {name}')

In [26]:
intro('Nachiket')

I am Nachiket

In [27]:
names=['Ambika','Suresh','Manan','Naschiket','Rohan','Ankit']

In [29]:
for i in names:
    intro(i)

I am Ambika
I am Suresh
I am Manan
I am Naschiket
I am Rohan
I am Ankit

# A function may return or may not return a value

In [30]:
# - print() only prints the value in the output area but does not return anything.
# - Any function that does not return anything, it always returns None

In [31]:
a=int(4.5)
print(a)

4

In [32]:
a=print(4)
print(a)

4
None

In [34]:
lst=[4,5,6]
lst.append(10)
print(lst)

[4, 5, 6, 10]

In [35]:
a=lst.append(45)
print(a)

None

In [36]:
def add(x,y):
    c=x+y
    print(c)

In [38]:
a=add(40,60)

100

In [39]:
print(a)

None

In [41]:
lst=[]
lst.append(add(10,20))

30

In [42]:
print(lst)

[None]

# return

In [43]:
# - return statement returns the value back to the function call.
# - We assign the function call to some variable so that we can handle the returned value.

In [44]:
def add(x,y):
    c=x+y
    return c

In [45]:
a=add(5,4)
print(a)

9

In [46]:
lst=[]
lst.append(a)
print(lst)

[9]

In [47]:
def dummy():
    result=16551515
    print(result)

In [49]:
a=dummy()

16551515

In [50]:
print(a)

None

In [51]:
lst=[(10,20),(30,40),(50,60),(70,70)]

# Add the numbers inside the tuple and put them in a list- result

In [63]:
lst=[(10,20),(30,40),(50,60),(70,70)]
result=[]

In [64]:
def add(x,y):
    c=x+y
    return c

In [65]:
for i,j in lst:
    result.append(add(i,j))

In [66]:
print(result)

[30, 70, 110, 140]

In [67]:
# List Comprehension
# Dictionary Comprehension
# Why we need comprehension

In [80]:
def add(a):
    s=0
    
    for i in a:
        s+=i
    return s

In [77]:
add(5,7,8,7)

27

In [81]:
lst=[(10,20),(30,40,70),(50,60,2,5),(70,5,6,8,1,2,7)]

In [84]:
result=[]
for i in lst:
    result.append(add(i))
print(result)

[30, 140, 117, 99]

In [ ]:
# break and continue, pass
# Types of arguments
# Function Properties