In [1]:
# Numpy
# Pandas 
# Matplotlib
# Seaborn

In [3]:
# Iterators and Generators
# Function and Decorators
# Loop
# Regex
# OS Module
# Binary files
# File Handling
# Multi threading

In [4]:
# Loop
# Functions
# Iterators and Generators
# Regex
# Numpy
# Pandas

# Loop

In [5]:
# - A loop is used when we want to execute a piece of code repeatedly

In [7]:
# print 1 on the screen 1000 times

In [11]:
print(1)
print(1)
print(1)
print(1)

1
1
1
1

In [12]:
# for loop
# while loop

# for loop

In [13]:
# - It is used with iterables only.
# - Iterables- String, List, Tuple, Dictionary, Set, Range, Frozenset, Bytes, Bytearray
# - for loop traveres upon the iterable from the beginning to the end

In [ ]:
for value in iterable:
    code
    code

In [14]:
for i in 'Hello':
    print(i)

H
e
l
l
o

In [15]:
for i in [10,20,30,40,50,60]:
    print(i)

10
20
30
40
50
60

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

In [20]:
for i in 'Hello':  # [0,1,2,3,4]
    print(i)

H
e
l
l
o

In [23]:
my_str='Hello'
print(my_str[0])
print(my_str[1])
print(my_str[2])
print(my_str[3])
print(my_str[4])

H
e
l
l
o

In [25]:
for i in range(5):
    print(i,my_str[i])

0 H
1 e
2 l
3 l
4 o

In [26]:
len(my_str)

5

In [29]:
for i in range(len(my_str)):
    print(i,my_str[i])

0 H
1 e
2 l
3 l
4 o

# Reverse any sequence type

In [32]:
lst=[10,20,30,40,50,60] # Reverse indexes- [5,4,3,2,1,0] -1

print(lst[5])
print(lst[4])
print(lst[3])
print(lst[2])
print(lst[1])
print(lst[0])

60
50
40
30
20
10

In [34]:
for i in range(5,-1,-1):
    print(i,lst[i])

5 60
4 50
3 40
2 30
1 20
0 10

In [38]:
for i in range(len(lst)-1,-1,-1):
    print(i,lst[i])

5 60
4 50
3 40
2 30
1 20
0 10

In [41]:
lst=[10,20,30,40,50,60] # Reverse indexes- [-1,-2,-3,-4,-5,-6] -7

print(lst[-1])
print(lst[-2])
print(lst[-3])
print(lst[-4])
print(lst[-5])
print(lst[-6])

60
50
40
30
20
10

In [43]:
for i in range(-1,-7,-1):
    print(i,lst[i])

-1 60
-2 50
-3 40
-4 30
-5 20
-6 10

In [48]:
for i in range(-1,-(len(lst)+1),-1):
    print(i,lst[i])

-1 60
-2 50
-3 40
-4 30
-5 20
-6 10

In [49]:
lst=[10,20,30,40,50,60,80,70,20,30,60,71,81,92,20,30,71,80,81,60,300]

for i in range(len(lst)-1,-1,-1):
    print(i,lst[i])

20 300
19 60
18 81
17 80
16 71
15 30
14 20
13 92
12 81
11 71
10 60
9 30
8 20
7 70
6 80
5 60
4 50
3 40
2 30
1 20
0 10

In [50]:
for i in range(-1,-(len(lst)+1),-1):
    print(i,lst[i])

-1 300
-2 60
-3 81
-4 80
-5 71
-6 30
-7 20
-8 92
-9 81
-10 71
-11 60
-12 30
-13 20
-14 70
-15 80
-16 60
-17 50
-18 40
-19 30
-20 20
-21 10

# Nested Loop

In [51]:
# When we have a loop withing another loop is known as nested loop

In [ ]:
for loop: # Outer loop
    for loop: # Inner loop
        code
        code

In [52]:
# For each iteration of the outer loop the inner loop completes all its iterations

In [54]:
for i in range(3):
    for j in range(4):
        print(f'i-{i},j-{j}')
    print()

i-0,j-0
i-0,j-1
i-0,j-2
i-0,j-3

i-1,j-0
i-1,j-1
i-1,j-2
i-1,j-3

i-2,j-0
i-2,j-1
i-2,j-2
i-2,j-3

In [55]:
for i in range(3):
    for j in range(4):
        print(1)

1
1
1
1
1
1
1
1
1
1
1
1

In [57]:
# When to use nested loop
# - It can be used to iterate over a table (row and columns)
# - It can be used to iterate over 2-D data
# - It can be  used when have iterables inside another iterables

In [58]:
lst=['Akhilesh','Virat','Sumit','Vidisha','Suresh']

for i in lst:
    print(i)

Akhilesh
Virat
Sumit
Vidisha
Suresh

In [59]:
i='Akhilesh'
for j in i:
    print(j)

A
k
h
i
l
e
s
h

In [61]:
lst=['Akhilesh','Virat','Sumit','Vidisha','Suresh']

for i in lst:
    for j in i:
        print(j)
    print()

A
k
h
i
l
e
s
h

V
i
r
a
t

S
u
m
i
t

V
i
d
i
s
h
a

S
u
r
e
s
h

In [62]:
import numpy as np

In [64]:
arr=np.array([10,20,30,40,50,60,70,80,90,50,40,20]).reshape(3,4)
arr

array([[10, 20, 30, 40],
       [50, 60, 70, 80],
       [90, 50, 40, 20]])

In [66]:
for i in arr:
    print(i)
    break

[10 20 30 40]

In [67]:
i

array([10, 20, 30, 40])

In [68]:
for j in i:
    print(j)

10
20
30
40

In [70]:
for i in arr:
    for j in i:
        print(j)

10
20
30
40
50
60
70
80
90
50
40
20

# Create a 2-D list using loop

In [72]:
# A list is a 1-D structure
# When we repeat a 1-D structure we get a 2-D structure
# When we repeat a list we get a 2-D list

In [73]:
[[1,2,3,4],[1,2,3,4],[1,2,3,4]]

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [74]:
# When we have a 2-D list
# The  number of elements in a list represents the number of columns.
# The number of inner lists represents the number of rows

# Creating a 2-D list using loop

In [75]:
# Outer loop gives the rows
# Inner loop gives us the columns

In [92]:
# Create a 3*4 list using loop
Out=[]
In=[]

for i in range(3):
    for j in range(4):
        In.append(j)
#     print(In)
    Out.append(In)
#     print(Out)
    In=[]
#     print(In)
#     break
print(Out)

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [84]:
np.array(Out)

array([[0, 1, 2, 3],
       [0, 1, 2, 3],
       [0, 1, 2, 3]])

In [85]:
np.array(Out).shape

(3, 4)

# Creating a 2-D list using List Comprehension

In [93]:
# [value for positioner in Iterable]

In [97]:
x=[i for i in range(4)]
x

[0, 1, 2, 3]

In [100]:
[x for i in range(3)]

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [105]:
[['a' for i in range(4)] for j in range(5)]

[['a', 'a', 'a', 'a'],
 ['a', 'a', 'a', 'a'],
 ['a', 'a', 'a', 'a'],
 ['a', 'a', 'a', 'a'],
 ['a', 'a', 'a', 'a']]

# Create a 3-D list using loop

In [106]:
# When we repeat a 2-D structure, we get a 3-D structure
# - When we repeat a 2-D list, we get a 3-D list

In [107]:
# [1,2,3] 1-D

# [[1,2,3],[1,2,3]] 2-D

# [[[1,2,3],[1,2,3]],[[1,2,3],[1,2,3]],[[1,2,3],[1,2,3]]] 3-D

In [123]:
# Craete a 2*3*4 list

one=[]
two=[]
three=[]

for i in range(2):
    for j in range(3):
        for k in range(4):
            one.append(i+j+k)
#         print(one)
        two.append(one)
        one=[]
#         print(two)
#         break
#     print(two)
    three.append(two)
    two=[]
#     print(three)
#     break
print(three)

[[[0, 1, 2, 3], [1, 2, 3, 4], [2, 3, 4, 5]], [[1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]]

In [119]:
three

[[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]],
 [[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]]

In [120]:
np.array(three)

array([[[0, 1, 2, 3],
        [0, 1, 2, 3],
        [0, 1, 2, 3]],

       [[0, 1, 2, 3],
        [0, 1, 2, 3],
        [0, 1, 2, 3]]])

In [121]:
np.array(three).shape

(2, 3, 4)

# Using comprehension

In [130]:
[[[i+j+k for i in range(4)] for j in range(3)] for k in range(2)]

[[[0, 1, 2, 3], [1, 2, 3, 4], [2, 3, 4, 5]],
 [[1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]]